<div class="px-3">
   <div class="cusotm_caption">
          <span class="text-xl font-bold">{{tableCaption || ''  }}</span>
    </div>
<p-table
[columns]="productColumns" [value]="products"
showGridlines stripedRows [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header let-columns>
        <tr>
            <th class="surface-200" *ngFor="let col of columns">
                {{ col.header }}
            </th>
            <th *ngIf="hasBtns" class="surface-200 w-2rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{ rowData[col.field] }}
            </td>
            <td *ngIf="hasBtns" >
    <p-button icon="pi pi-ellipsis-v"severity="secondary" [rounded]="true" [text]="true"  (click)="menu.toggle($event)" />
    <p-tieredmenu #menu [model]="listBtns" appendTo="body" [popup]="true" />
              </td>
        </tr>
    </ng-template>
</p-table>

</div>
