<section class="inline-flex justify-content-around w-full">
  <div>
    <ng-container *ngIf="isBegin">
      <p-button
        label="Anterior"
        icon="pi pi-arrow-left"
        iconPos="left"
        size="large"
        severity="info"
        [raised]="true"
        (onClick)="_back()"
      />
    </ng-container>
  </div>

  <div>
    <ng-container *ngIf="!isSubmit; else concluir">
      <p-button
        label="Próximo"
        icon="pi pi-arrow-right"
        iconPos="right"
        size="large"
        severity="info"
        [raised]="true"
        (onClick)="_next()"
    /></ng-container>

    <ng-template #concluir>
      <p-button
        label="Concluir"
        icon="pi pi-check"
        iconPos="left"
        size="large"
        severity="info"
        [disabled]="!canSubmit"
        [raised]="true"
        (onClick)="_submit()"
      />
    </ng-template>
  </div>
</section>
